*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.myimage img{
    
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    
    
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav__logo{
    margin: 2rem 0 0 1rem;
    border-bottom: 1px solid red;
}
.nav__logo-icon{
    font-size: 1.5rem;
}

.one-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav{
    height: 3rem;
    
    
    
}
.icon{
    color: white;
    font-size: 1.5rem;
}


.bd-container{
    max-width: 1200px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.bd-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-toggle{
    padding-top: 1rem;
}

@media screen and (max-width: 768px) {
    
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 10%;
       
        width: 80%;
        height: 80%;
        
        /* background: #000; */
        border: 2px solid white;
        transition: .8s;

    }
    ul{
        text-align: center;
        padding-top: 20%;
    }
    li{
        padding-bottom: 3rem;
    }
    li a:hover{
        border-bottom: 1px solid white;
    }
    a{
        color: white;
    }
}

@media screen and (min-width: 768px) {



.nav__list{
    display: flex;
}

.nav__menu{
    padding-top: 2rem;
}
li{
    padding-right: 1rem;
}

a{
    color: white;
}
.menu-toggle{
    display: none;
}


}
.show {
    top: 3.9rem; }